.skillsSection {
    padding: 2rem;
    text-align: center;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.skill span {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0.5rem;
}

.progress {
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
}